@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme{
    --font-light: "Raleway", sans-serif;
    --color-primary:#FBFBFB;
    --color-secondary:#393E46;
    --color-accent: #059669;
    --color-third: #77f800;
}